<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contribuyente</title>
</head>
<body>
  <h1>Detalles del Contribuyente</h1>
  <div>
    <h2>Información del Contribuyente</h2>
    <p><strong>Número de Documento:</strong> <%= ruc %></p>
    <p><strong>RUC:</strong> <%= data.ruc %></p>
    <p><strong>Nombre:</strong> <%= data.razonSocial %></p>
    <p><strong>Estado:</strong> <%= data.estado %></p>
    <!-- Muestra más campos según la respuesta de la API -->
  </div>
  <a href="/">Volver</a>
</body>
</html>
